:root {
    --clr_background: hsl(180, 52%, 96%);
    --clr_very_drk_grayish_cyan: hsla(180, 10%, 22%, 0.719);
    --clr_dark_grayish_cyan: hsl(180, 64%, 36%);
    --clr_light_grayish_cyan: hsl(180, 73%, 96%);
    --fw_500: 500;
    --fw_500: 500;
    --fw_700: 700;
    --fs_15: 15;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h5, p {
    margin: 0;
}

header {
    background-image: url('/images/bg-header-desktop.svg');
    background-color: var(--clr_dark_grayish_cyan);
    height: 100px;
}

body {
    background-color: var(--clr_background);
}

img {
    width: 50px;
}
ul.requirements {
    padding: 0;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.root {
    width: inherit;
    height: inherit;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    margin: 5rem 0;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    min-width: 300px;
    width: 70%;
    padding: 2em;
    flex-wrap: wrap;
    box-shadow: 2px 2px 10px var(--clr_very_drk_grayish_cyan);
    position: relative;
}

.new::before {
    content: '';
    height: 100%;
    background-color: var(--clr_dark_grayish_cyan);
    width: 5px;
    position: absolute;
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    bottom: 0;
}

h5.position {
    font-weight: var(--fw_700);
}


.left-section {
    display: flex;
    gap: 1rem;
}

.left-section img {
    width: 100px;
}

.left-section-main {
    display: flex;
    flex-direction: column;
    gap: .5rem  ;
}

.left-section .top  {
    display: flex;
    gap: 1rem;
}

.new, .featured {
    text-transform: uppercase;
    color: #fff;
    padding: .2em .5em;
    border-radius: 15px;
    font-weight: var(--fw_500);
}

.new {
    background-color: var(--clr_dark_grayish_cyan);
}

.featured {
    background-color: black;
}


.job-details-bottom {
    display: flex;
    flex-direction: row;
    color: var(--clr_very_drk_grayish_cyan);
    gap: .5rem;
    align-items: center;

}

hr {
    width: 5px;
    height: 5px;
    background-color: var(--clr_very_drk_grayish_cyan);
    border-radius: 50%;

}

.right-section {
    margin-left: auto;
    display: flex;
    align-items: center;
}   

.company-name, .requirements li {
    color: var(--clr_dark_grayish_cyan);
    font-weight: var(--fw_700);
}
.requirements li {
    background-color: var(--clr_light_grayish_cyan);
    padding: .4rem;
    border-radius: 5px;
}

@media (max-width: 1200px) {

    .card {
        width: 100%;
        flex-direction: column;
        justify-items: flex-start;
        gap: 2rem;
        width: 100%;
    }

    .right-section {
        margin-left: 0;
        justify-content: center;
    }

    main {
        gap: 5rem;
    }

    .left-section {
        gap: 2rem;
    }

    .left-section img {
        width: 60px;
        position: absolute;
        top: -2.3rem;
    }
     

    .left-section {
        flex-direction: column;
    }

    .left-section::after {
        content: '';
        width: inherit;
        height: 1px;
        background-color: var(--clr_very_drk_grayish_cyan);
    }

    header {
        background-image: url('/images/bg-header-mobile.svg');
    }


    main {
        padding: 0 1em;
    }

    .right-section {
        justify-content: flex-start;
    }

    .right-section ul {
        flex-wrap: wrap;
        justify-content: flex-start;
        justify-items: flex-start;
    }
}